/* General */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: block;
    overflow-y: auto;
}

/* ransición */
body {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative; 
}

/* Login y Registro */
.form-module {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.365);
}

/*Oculta la tabla de registro o login*/
.invisible {
    visibility: hidden; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease-out; 
}

.invisible * {
    visibility: hidden; 
}

/* Etiquetas */
label {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Titulo */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}


/* campos */
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #f2f3f26f;
    color: rgb(2, 2, 2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}





.info-panel {
    position: absolute;
    top: 6.5%;
    left: 50%; 
    width: 400px;
    height: 80.5%;
    background-color: rgba(0, 0, 0, 0.367);
    
    background-size: cover; 
    background-position: center; 
    color: rgb(251, 251, 251);
    padding: 20px;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

/* titulos */
.info-panel .title-panel {
    font-family: "Homer Simpson UI";
    font: caption;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px; 
    color: #ffffff;
}


.info-panel p {
    font-family: "Homer Simpson UI";
    text-align: justify;
    color: rgb(255, 255, 255);
    font: caption;
    font-size: 12px;
}

/* Ocultar texto cuando esta cubierto */
.info-panel.hidden {
    display: none;
}


/* Boton para camiar */
.toggle-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff89;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 800px) {
    .login-container {
        flex-direction: column;
    }

    .info-panel {
        left: 0; 
        width: 100%;
    }
   
}


